*

nav ul li a
{
    float:right;
    color: white;
    text-decoration: none;
}

nav ul li a:hover
{
    background-color: #333333;
    margin: 0px;
}

nav ul
{
    float: right;
    background-color: black;
    position: relative;
    top: -100px;
}

nav li 
{
    display : inline-block;
    padding: 10px;
}

h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    padding:25px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
}

#login
{
    margin-left: 600px;
}

#form1
{
    margin-left: 500px;
}

#submit
{
    margin-left: 500px;
}

#customerinfo
{
    margin-left: 520px;
}
.table1
{
    border-collapse: collapse;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    padding: 10px;

}

.table2
{
    border-collapse: collapse;
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 10px;
}
 


